* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 150px;
}
.container {
    width: 1000px;
    margin: auto;
}
.logo {
    padding: 10px;
    color: rgb(42, 42, 235);
    font-weight: 900;
    font-size: 50px;
}
.header-top {
    height: 80px;
}
.header-bottom {
    background-color: rgb(42, 42, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 80px);
}
.selector {
    padding: 10px;
    font-size: 20px;
}
.selector label {
    margin-right: 10px;
    color: white;
}
.card-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    background-color: gray;
}
.card {
    height: 100px;
    width: calc((100% / 5) - 20px);
    text-align: center;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
}
.card-icon {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-icon i {
    font-size: 30px;
}
.card-name {
    font-size: 18px;
}